{% extends 'include/bash.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 class="display-4 text-center">Change password</h1>
        <hr>
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="col-md-6 offset-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="oldpassword">{{form.old_password.label}}</span>
                    <input type="password" class="form-control form-sm" name="{{form.old_password.name}}"
                        placeholder="password1" aria-label="oldpassword" aria-describedby="oldpassword">
                </div>
                {% for error in form.errors.old_password %}
                <div class="alert alert-danger p-1" role="alert">
                    {{error}}
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6 offset-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="password1">{{form.new_password1.label}}</span>
                    <input type="password" class="form-control form-sm" name="{{form.new_password1.name}}"
                        placeholder="new-password" aria-label="password2" aria-describedby="password1">
                    <div id="password1" class="form-text">{{form.new_password1.help_text}}</div>
                </div>
            </div>
            <div class="col-md-6 offset-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="password2">{{form.new_password2.label}}</span>
                    <input type="password" class="form-control form-sm" name="{{form.new_password2.name}}"
                        placeholder="new-password" aria-label="password2" aria-describedby="password2">
                </div>
                {% for error in form.errors.new_password2 %}
                <div class="alert alert-danger p-1" role="alert">
                    {{error}}
                </div>
                {% endfor %}
            </div>

            <div class="col-md-6 offset-3">
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-md btn-success">change</button>
                    <a href="{% url 'profile' %}" class="btn btn-dark btn-mb">back</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}