{% extends 'include/bash.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between my-4">
    <h3 class="text-gray-800">Account Settings - Profile</h3>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-12 mt-1">
        <div class="card shadow">
            <div class="card-header">
                Profile Picture
            </div>
            <div class="card-body text-center">
                <img class="img-account-profile rounded-circle mb-2 img-thumbnail" src="
                {% if user.avatar %}
                {{user.avatar.url}}
                {% else %}
                {% static 'img/profile.png' %}
                {% endif %}" alt="">
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 mt-1">
        <div class="card shadow">
            <div class="card-header">
                Account Details
            </div>
            <div class="card-body">
                <form action="{% url 'profile' %}" id="changForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="small mb-1" for="id_avatar">{{form.avatar.label}}</label>
                        <input type="file" name="{{form.avatar.name}}" accept="image/*" id="id_avatar" class="mb-3">
                    </div>

                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users
                            on the site)</label>
                        <input class="form-control" id="inputUsername" type="text" name="{{form.username.name}}"
                            placeholder="Enter your username" value="{{user.username}}">
                    </div>
                    <div class="usernameError">
                    </div>

                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">First name</label>
                            <input class="form-control" id="inputFirstName" type="text" name="first_name"
                                placeholder="Enter your first name" value="{{user.first_name}}" required>
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Last name</label>
                            <input class="form-control" id="inputLastName" type="text" name="last_name"
                                placeholder="Enter your last name" value="{{user.last_name}}" required>
                        </div>
                    </div>

                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Email address</label>
                        <input class="form-control" id="inputEmailAddress" type="email" name="{{form.email.name}}"
                            placeholder="Enter your email address" value="{{user.email}}">
                    </div>
                    <div class="emailError">
                    </div>

                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <span class="badge rounded-pill bg-white text-gray-800 shadow-sm">Date joined :
                            {{ user.date_joined }}</span>
                        <span class="badge rounded-pill bg-white text-gray-800 shadow-sm">Last login :
                            {{ user.last_login }}</span>
                    </div>

                    <!-- Save changes button-->
                    <div class="col-md-12">
                        <div class="input-group">
                            <button class="btn btn-primary" form="changForm" type="submit">Save changes</button>
                            <a href="{% url 'change_password' %}" class="btn btn-info">Changes password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#id_avatar').change(function () {
        var file = this.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            $('.img-account-profile').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    });

    $("#changForm").submit(function (event) {
        event.preventDefault();

        let data = new FormData();

        let url_ = $(this).attr('action')

        const form_data = $(this).serializeArray();
        $.each(form_data, function (key, input) {
            data.append(input.name, input.value);
        });

        data.append('avatar', $('#id_avatar')[0].files[0]);

        $.ajax({
            type: 'POST',
            url: url_,
            enctype: 'multipart/form-data',
            data: data,
            success: function (data) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                });
                $(".alert-danger").remove()
            },
            error: function (data) {
                $(".alert-danger").remove()
                if (data.responseJSON.error.username) {
                    $(".usernameError").append(`
                    <div class="alert alert-danger p-1" role="alert">
                        ${data.responseJSON.error.username}
                    </div>`);
                }
                if (data.responseJSON.error.email) {
                    $(".emailError").append(`
                    <div class="alert alert-danger p-1" role="alert">
                        ${data.responseJSON.error.email}
                    </div>`);
                }
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    });
</script>
{% endblock script %}