<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Python, Django, framework, open-source" />
    <meta name="description" content="django-template">
    <title>Django template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <link rel="icon" sizes="192x192" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <!-- <link rel="shortcut icon" href="https://static.djangoproject.com/img/favicon.6dbf28c0650e.ico"> -->
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="https://static.djangoproject.com/img/icon-tile.b01ac0ef9f67.png">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- fonts google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <style>
        body {
            font-family: 'Kanit', sans-serif;
        }
    </style>
</head>

<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container mb-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Create Account</h3>
                                </div>
                                <div class="card-body">
                                    <form class="text-left" method="post" action="{% url 'register' %}">
                                        {% csrf_token %}

                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="id_username" name="{{form.username.name}}"
                                                type="text" placeholder="Create username" />
                                            <label for="id_username">{{form.username.label}}</label>
                                        </div>
                                        {% for error in form.errors.username %}
                                        <div class="alert alert-danger" role="alert">
                                            {{error}}
                                        </div>
                                        {% endfor %}

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" id="inputFirstName"
                                                        name="{{form.first_name.name}}" type="text"
                                                        placeholder="Enter your first name" />
                                                    <label for="inputFirstName">{{form.first_name.label}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" id="inputLastName" type="text"
                                                        name="{{form.last_name.name}}"
                                                        placeholder="Enter your last name" />
                                                    <label for="inputLastName">{{form.last_name.label}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputEmail" type="email"
                                                name="{{form.email.name}}" placeholder="name@example.com" />
                                            <label for="inputEmail">{{form.email.label}}</label>
                                        </div>
                                        {% for error in form.errors.email %}
                                        <div class="alert alert-danger" role="alert">
                                            {{error}}
                                        </div>
                                        {% endfor %}

                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" id="inputPassword" type="password" name="{{form.password1.name}}"
                                                        placeholder="Create a password" />
                                                    <label for="inputPassword">{{form.password1.label}}</label>
                                                    <div id="emailHelp" class="form-text">{{form.password1.help_text}}
                                                    </div>
                                                    {% for error in form.errors.password1 %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{error}}
                                                    </div>
                                                    {% endfor %}
        
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" id="inputPasswordConfirm"
                                                        name="{{form.password2.name}}" type="password"
                                                        placeholder="Confirm password" />
                                                    <label for="inputPasswordConfirm">{{form.password2.label}}</label>
                                                    <div id="emailHelp" class="form-text">{{form.password2.help_text}}
                                                    </div>
                                                    {% for error in form.errors.password2 %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{error}}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary">Create Account</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>