<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Python, Django, framework, open-source" />
    <meta name="description" content="django-template">
    <title>Django template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <link rel="icon" sizes="192x192" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <!-- <link rel="shortcut icon" href="https://static.djangoproject.com/img/favicon.6dbf28c0650e.ico"> -->
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="https://static.djangoproject.com/img/icon-tile.b01ac0ef9f67.png">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <main class="form-signin">
        <div class="container mt-5">
            <div class="row">
                <h1 class="display-4 text-center">Register</h1>
                <hr>
                <form class="text-left" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="mb-3 col-md-6 offset-3">
                        <label for="id_username" class="form-label">{{form.username.label}}</label>
                        <input type="text" class="form-control" name="username" id="id_username" aria-describedby="usernameHelp"
                            required>
                        <div id="usernameHelp" class="form-text">{{form.username.help_text}}</div>
                        {% for error in form.errors.username %}
                        <div class="alert alert-danger p-1" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3 col-md-6 offset-3">
                        <label for="id_email" class="form-label">{{form.email.label}}</label>
                        <input type="email" class="form-control" name="email" id="id_email" aria-describedby="emailHelp"
                            required>
                        <div id="emailHelp" class="form-text">{{form.email.help_text}}</div>
                        {% for error in form.errors.email %}
                        <div class="alert alert-danger p-1" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3 col-md-6 offset-3">
                        <label for="id_password1" class="form-label">{{form.password1.label}}</label>
                        <input type="password" class="form-control" name="password1" id="id_password1"
                            aria-describedby="password1Help" required>
                        <div id="password1Help" class="form-text">{{form.password1.help_text}}</div>
                    </div>
                    <div class="mb-3 col-md-6 offset-3">
                        <label for="id_password2" class="form-label">{{form.password2.label}}</label>
                        <input type="password" class="form-control" name="password2" id="id_password2"
                            aria-describedby="password2Help" required>
                        <div id="password2Help" class="form-text">{{form.password2.help_text}}</div>
                        {% for error in form.errors.password2 %}
                        <div class="alert alert-danger p-1" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>
        
                    <div class="mb-3 col-md-6 offset-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
        
            </div>
        </div>
    </main>


    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>