<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Python, Django, framework, open-source" />
    <meta name="description" content="django-template">
    <title>Django template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <link rel="icon" sizes="192x192" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <!-- <link rel="shortcut icon" href="https://static.djangoproject.com/img/favicon.6dbf28c0650e.ico"> -->
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="https://static.djangoproject.com/img/icon-tile.b01ac0ef9f67.png">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/custom/signin.css' %}" rel="stylesheet">
</head>

<body class="text-center">

    <main class="form-signin">
        <form method="post" action="{% url 'singin' %}">
            {% csrf_token %}

            <img class="mb-4" src="{% static 'img/bootstrap-logo.svg' %}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" name="username" id="id_username" placeholder="{{form.username.label}}">
                <label for="id_username">{{form.username.label}}</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" name="password" id="id_password" placeholder="{{form.password.label}}">
                <label for="id_password">{{form.password.label}}</label>
              </div>

            {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            <div class="form-check checkbox mb-3">
                <label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </label>
            </div>

            <button class="w-100 btn btn-primary btn-lg" type="submit">Sign in</button>
            <input type="hidden" name="next" value="{{  request.GET.next  }}">

            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <a class="small" href="{% url 'password_reset_request' %}">Forgot Password?</a>
                <a class="small" href="{% url 'register' %}">Register</a>
            </div>

        </form>
    </main>


    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>