{% load static tailwind_tags %}
{% load static i18n %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Python, Django, framework, open-source" />
	<meta name="description" content="django-template">
	<title>Django template</title>

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
	<link rel="icon" sizes="192x192" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
	<!-- <link rel="shortcut icon" href="https://static.djangoproject.com/img/favicon.6dbf28c0650e.ico"> -->
	<meta name="msapplication-TileColor" content="#113228">
	<meta name="msapplication-TileImage" content="https://static.djangoproject.com/img/icon-tile.b01ac0ef9f67.png">
	{% tailwind_css %}
</head>

<body class="bg-gray-50 leading-normal tracking-normal">
	<div class="container mx-auto">
		{% block content %}

		{% endblock content %}
	</div>
</body>

</html>