{% extends 'include/bash.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between my-4">
    <h3 class="text-gray-800">User Detail</h3>
</div>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard / User Detail</li>
</ol>


<div class="row">
    <div class="col-lg-4 col-sm-12 mt-1">
        <div class="card shadow">
            <div class="card-header">
                Profile Picture
            </div>
            <div class="card-body text-center">
                <img class="img-account-profile rounded-circle mb-2 img-thumbnail" src="
                {% if user.avatar %}
                {{user.avatar.url}}
                {% else %}
                {% static 'img/profile.png' %}
                {% endif %}" alt="">
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 mt-1">
        <div class="card shadow">
            <div class="card-header">
                Account Details
            </div>
            <div class="card-body">
                <!-- Form Group (username)-->
                <div class="mb-3">
                    <label class="small mb-1" for="inputUsername">Username</label>
                    <input class="form-control" id="inputUsername" type="text" name="{{form.username.name}}"
                        placeholder="Enter your username" value="{{user.username}}">
                </div>

                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">First name</label>
                        <input class="form-control" id="inputFirstName" type="text" name="first_name"
                            placeholder="Enter your first name" value="{{user.first_name}}" required>
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Last name</label>
                        <input class="form-control" id="inputLastName" type="text" name="last_name"
                            placeholder="Enter your last name" value="{{user.last_name}}" required>
                    </div>
                </div>

                <!-- Form Group (email address)-->
                <div class="mb-3">
                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                    <input class="form-control" id="inputEmailAddress" type="email" name="{{form.email.name}}"
                        placeholder="Enter your email address" value="{{user.email}}">
                </div>
                <div class="emailError">
                </div>

                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <span class="badge rounded-pill bg-white text-gray-800 shadow-sm">Date joined :
                        {{ user.date_joined }}</span>
                    <span class="badge rounded-pill bg-white text-gray-800 shadow-sm">Last login :
                        {{ user.last_login }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}